body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.page-header{
    height: 5em;
    background-size: cover;
    background-image: url(../images/DnD-5th.jpg);
}


.page-header h1 {
    font-size: 4em;
}


#footer{
    text-align: center;
}